cheader.header4 nav:before {
    display: none;
}

header.header4 .full-navigation .container nav > ul > li > a i {
    display: none;
}

header.header4 {
    background: none repeat scroll 0 0 #000000;
    height: 75px;
}

header.header4 .logo img {
    width: 42%;
}

header.header4 .logo {
    margin: 5px 0;
}

header.header4 .full-navigation .container nav > ul > li > a {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 30px 20px;
    text-transform: uppercase;
    color: #00a6d5;
}

.block {
    padding: 75px 0 30px 0 !important;
}

footer {
    background: #000000;
}

.widget-title {
    margin-bottom: 20px; 
}

h3.widget-title span {
    color: #00a6d5;
    font-family: lato;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
}

ul.ut-sociallinks {
    margin-top: 30px;
}

ul.ut-sociallinks i.fa.fa-facebook:before {
    color: #4e598f !important;
}

ul.ut-sociallinks i.fa.fa-instagram:before {
    color: #6c27b3 !important;
}

ul.ut-sociallinks i.fa.fa-linkedin:before {
    color: #4376b1 !important;
}

ul.ut-sociallinks i.fa.fa-twitter:before {
    color: #65a2d9 !important;
}

ul.ut-sociallinks i.fa.fa-youtube:before {
    color: #d22215 !important;
}

ul#menu-footer-navigation-1 li, ul#menu-footer-navigation-2 li {
    display: inline-block;
    width: 45%;
    padding-bottom: 5px;
}

ul#menu-footer-navigation-1 li a, ul#menu-footer-navigation-2 li a {
    font-family: lato;
    font-size: 15px;
    margin-left: 15px;
    color: #ffffff;
}

ul#menu-footer-navigation-1 li a:before, ul#menu-footer-navigation-2 li a:before {
    font-family: 'FontAwesome';
    content: "\f105";
    font-weight: normal;
    font-style: normal;
    position: absolute;
    margin-left: -13px;
    color: #00a6d5;
}

ul.ut-sociallinks li {
    display: inline-block;
    margin-right: 25px;
}

ul.ut-sociallinks a i {
    font-size: 32px;
}

footer .block .container {
    background: #000000;
    margin-top: 0px;
}


.bottom-footer {
    background: #080808;
}

.bottom-footer p {
    color: #ffffff;
    font-size: 14px;
    font-family: Lato;
}

.bottom-footer p a {
    color: #00a6d5;
    font-size: 14px;
}

.full-navigation {
    border-top: 0px solid #c0c0c0;
}
.contact-link-page{margin-top:80px;font-size:19px;font-weight:bold;}
.quote-block {
    background: linear-gradient(rgba(16,156,192,0.8),rgba(16,156,192,0.8)), url(http://bktechnologies.com/dealer/user_assets/img/ordering-door.jpg) !important;
    background-size: cover !important;
    margin: 0px;
    padding: 15px 15px;
    min-height: 265px;
}

.training-block {
    background: linear-gradient(rgba(16,156,192,0.8),rgba(16,156,192,0.8)), url(http://bktechnologies.com/dealer/user_assets/img/training-door.jpg) !important;
    background-size: cover !important;
    margin: 0px;
    padding: 15px 15px;
    min-height: 265px;
}

.corp-block {
    background: linear-gradient(rgba(16,156,192,0.8),rgba(16,156,192,0.8)), url(http://bktechnologies.com/dealer/user_assets/img/marketing-door.jpg) !important;
    background-size: cover !important;
    margin: 0px;
    padding: 15px 15px;
    min-height: 265px;
}

.doc-block {
    background: linear-gradient(rgba(16,156,192,0.8),rgba(16,156,192,0.8)), url(http://bktechnologies.com/dealer/user_assets/img/doc-sign-door.jpg) !important;
    background-size: cover !important;
    margin: 0px;
    padding: 15px 15px;
    min-height: 265px;
}

.quote-block .inner, .training-block .inner, .corp-block .inner, .doc-block .inner {
    margin: 0 15px;
}

.quote-block h1, .training-block h1, .corp-block h1, .doc-block h1 {
    /*font-size: 2.6em; */
    font-size: 1.95em;
    color: #ffffff;
    font-weight: 500;
    font-family: bebas-neue, sans-serif;
    text-transform: uppercase;
    border-bottom: 1.5px solid white;
    padding-bottom: 5px;
}

.quote-block ul, .training-block ul, .corp-block ul, .doc-block ul {
    margin-top: 20px;
    margin-bottom: 0px;
}

.quote-block ul li, .training-block ul li, .corp-block ul li, .doc-block ul li {
    padding: 2.5px 15px;
}

.quote-block ul li a, .training-block ul li a, .corp-block ul li a, .doc-block ul li a {
    font-family: Open Sans, sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.quote-block ul li a:before, .training-block ul li a:before, .corp-block ul li a:before, .doc-block ul li a:before {
    font-family: 'FontAwesome';
    content: "\f105";
    font-weight: normal;
    font-style: normal;
    position: absolute;
    margin-left: -15px;
    color: #ffffff;
}

.heading2 {
    background: none;
    margin-bottom: 45px;
}

h2, .heading2 h2 {
    letter-spacing: 1px;
    font-family: Lato;
    text-align: center;
    font-size: 46px;
    font-weight: 600;
    word-spacing: 5px;
    color: #00a6d5;
    text-transform: capatalise
}

.heading2 > span:before {
    background: none;
}

.heading2 > span {
    color: #000000;
    font-size: 17px;
    padding: 0px;
}

.login-sub-title {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    color: #000000;
    margin: 5px 0px 30px 0;
    text-transform: capitalize;
    font-weight: 500;
}

.blackish:before {
    background: none;
}

.btn-success {
    background-color: #244d6e !important;
    border-color: #244d6e !important;
    border-radius: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*padding: 10px 0px;*/
    font-family: Open Sans, sans-serif;
}

input.form-control {
    border-radius: 0px !important;
    padding: 20px 10px !important;
    font-size: 16px !important;
    font-family: Lato !important;
    color: #000000 !important;
    margin-bottom: 15px !important;
}

.shadow-container {
    /* box-shadow: 0px 0px 25px hsla(0, 0%, 0%, 0.70); */
    box-shadow: 0 0px 5px #d8d8d8 !important;
    background: #f8f8f8 !important;
    padding: 40px 0px 45px 0 !important;
}

.form-inline.dealer-registration-form .form-control {
    width: 95% !important;
}

input#design-field {
    visibility: hidden !important;
    margin-bottom: 40px !important;
}

.dealer-registration-form .form-content1 h2, .profile-update .form-content1 h2 {
    color: #000000 !important;
    font-size: 26px !important;
    text-transform: capitalize !important;
    text-align: left !important;
    margin-left: 12px !important;
}

button#btnAdd, button#addShipping {
    background: #00a6d5 !important;
    border-color: #00a6d5 !important;
    color: #ffffff !important;
    display: block !important;
    margin-top: 10px !important;
    margin-left: 25px !important;
    border-radius: 0px !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
    font-family: Lato !important;
    font-weight: 600 !important;
    margin-bottom: 10px !important;
    padding: 6px 25px !important;
}

.form-inline.dealer-registration-form .form-content1 .form-control {
    width: 100% !important;
    margin-left: -10px !important;
}

button.btnRemove.bt_pos {
    margin-left: -40px !important;
    height: 42px !important;
    border-radius: 0px !important;
}

.dealer-registration-form .btn-success {
    width: 100% !important;
}

.dealer-registration-form .btn-success {
    width: 94.5% !important;
    display: inline-block;
    margin-left: 10px !important;
}

h3.dealer-form-sub-heading {
    color: #000000 !important;
    font-size: 22px !important;
    text-transform: capitalize !important;
    text-align: left !important;
    margin-left: 0px !important;
    font-family: Lato !important;
    letter-spacing: 0px !important;
    font-weight: 600 !important;
    padding-top: 15px !important;
}

th {
    background-color: #294e6e !important;
    border: 1px solid #294e6e !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #294e6e !important;
    color: #ffffff !important;
    border-radius: 0px !important;
    border: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #ffffff !important;  
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous, .dataTables_wrapper .dataTables_paginate .paginate_button.next {
    background: #00a6d5;
    color: #ffffff !important;
    border-radius: 0px !important;
    border: none !important;
}

.modal-content {
    border: none;
    border-radius: 0px;
}

.modal-header {
    background: #294e6e;
}

.modal-title {
    color: #ffffff !important;
    font-family: Lato !important;
    font-size: 20px !important;
    font-weight: 600 !important;
}

.modal-header .close {
    margin-top: 5px;
    color: #ffffff;
    opacity: 1;
}

.modal-footer .btn-default, .modal-footer .btn-primary {
    background: #244d6e !important;
    border-color: #244d6e !important;
    color: #ffffff !important;
    border-radius: 0px !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
    font-family: Lato !important;
    font-weight: 600 !important;
    padding: 6px 25px !important;
    letter-spacing: 1px !important;
}

.modal-footer .btn-primary {
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
}

.newAddedRows label {
    color: #244d6e !important;
    font-size: 15px !important;
}

.modal-body input.form-control.ptotal {
    width: 50% !important;
}

/*.grand-total-row {
    background: #294e6e !important;
    border: none !important;
    color: #ffffff !important;
} */

#main-content {
    padding: 75px 0 30px 0 !important;
}

.btn.remove_btn {
    height: 42px !important;
    border-radius: 0px !important;
}

button.generateQuote.btn {
    background-color: #244d6e !important;
    border-color: #244d6e !important;
    border-radius: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 25px;
    font-family: Open Sans, sans-serif !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    letter-spacing: 0.5px !important;
}

.header-pdf h2 {
    text-transform: capitalize !important;
}

h3.quote-pdf {
    text-align: center !important;
    font-weight: 600 !important;
    padding-bottom: 15px !important;
    margin-top: 20px !important;
}

.content-pdf>div .col-content b {
    width: 200px !important;
    font-weight: 700 !important;
}

.col-content h3 {
    font-size: 16px !important;
    font-weight: 600 !important;
    padding-top: 10px !important;
}

.profile-update .btn-success {
    width: 94.5% !important;
    margin-left: 18px !important;
    text-transform: uppercase !important;
}

section .block.extra-gap {
    padding-bottom: 30px !important;
}

.form-quote-page .btn {
    color: #ffffff !important;
    border-radius: 0px !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
    font-family: Lato !important;
    font-weight: 600 !important;
    padding: 10px 25px !important;
    letter-spacing: 1px !important;
    margin-top: 35px !important;
}

.form-quote-page .btn-primary {
    background: #244d6e !important;
    border-color: #244d6e !important;
}

.form-quote-page .btn-warning {
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
}

.form-quote-page .btn-default {
    background-color: #00a6d5 !important;
    border-color: #00a6d5 !important;
}

.btn-group .btn-primary {
    border-radius: 0px !important;
    background: #00a6d5 !important;
    border-color: #00a6d5 !important;
    margin: 0 5px !important;
}

.btn-group .btn-info {
    background: #294e6e !important;
    border-color: #294e6e !important;
    border-radius: 0px !important;
    margin: 0 5px !important;
}

.btn-group .btn-success {
    background: #5cb85c !important;
    border-color: #4cae4c !important;
    border-radius: 0px !important;
    margin: 0 5px !important;
}