header.header4 nav:before {
    display: none;
}

header.header4 .full-navigation .container nav > ul > li > a i {
    display: none;
}

header.header4 {
    background: none repeat scroll 0 0 #000000;
}

header.header4 .logo img {
    width: 80%;
}

header.header4 .logo {
    margin: 5px 0;
}

header.header4 .full-navigation .container nav > ul > li > a {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 30px 20px;
    text-transform: uppercase;
    color: #00a6d5;
}

footer {
    background: #000000;
}

.widget-title {
    margin-bottom: 20px; 
}

h3.widget-title span {
    color: #00a6d5;
    font-family: lato;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
}

ul.ut-sociallinks {
    margin-top: 30px;
}

ul#menu-footer-navigation-1 li, ul#menu-footer-navigation-2 li {
    display: inline-block;
    width: 45%;
    padding-bottom: 5px;
}

ul#menu-footer-navigation-1 li a, ul#menu-footer-navigation-2 li a {
    font-family: lato;
    font-size: 15px;
    margin-left: 15px;
    color: #ffffff;
}

ul#menu-footer-navigation-1 li a:before, ul#menu-footer-navigation-2 li a:before {
    font-family: 'FontAwesome';
    content: "\f105";
    font-weight: normal;
    font-style: normal;
    position: absolute;
    margin-left: -13px;
    color: #00a6d5;
}

ul.ut-sociallinks li {
    display: inline-block;
    margin-right: 25px;
}

ul.ut-sociallinks a i {
    font-size: 32px;
}

footer .block .container {
    background: #000000;
    margin-top: 0px;
}


.bottom-footer {
    background: #080808;
}

.bottom-footer p {
    color: #ffffff;
    font-size: 14px;
    font-family: Lato;
}

.bottom-footer p a {
    color: #00a6d5;
    font-size: 14px;
}

.full-navigation {
    border-top: 0px solid #c0c0c0;
}

.quote-block {
    background: linear-gradient(rgba(16,156,192,0.8),rgba(16,156,192,0.8)), url(http://bktechnologies.com/dealer/user_assets/img/quote-block.jpg) !important;
    background-size: cover !important;
    margin: 0px;
    padding: 15px 15px;
    min-height: 265px;
}

.training-block {
    background: linear-gradient(rgba(16,156,192,0.8),rgba(16,156,192,0.8)), url(http://bktechnologies.com/dealer/user_assets/img/training-block.jpg) !important;
    background-size: cover !important;
    margin: 0px;
    padding: 15px 15px;
    min-height: 265px;
}

.corp-block {
    background: linear-gradient(rgba(16,156,192,0.8),rgba(16,156,192,0.8)), url(http://bktechnologies.com/dealer/user_assets/img/corporate-block.jpg) !important;
    background-size: cover !important;
    margin: 0px;
    padding: 15px 15px;
    min-height: 265px;
}

.quote-block .inner, .training-block .inner, .corp-block .inner {
    margin: 0 15px;
}

.quote-block h1, .training-block h1, .corp-block h1 {
    font-size: 2.6em;
    color: #ffffff;
    font-weight: 500;
    font-family: bebas-neue, sans-serif;
    text-transform: uppercase;
    border-bottom: 1.5px solid white;
    padding-bottom: 5px;
}

.quote-block ul, .training-block ul, .corp-block ul {
    margin-top: 20px;
    margin-bottom: 0px;
}

.quote-block ul li, .training-block ul li, .corp-block ul li {
    padding: 2.5px 15px;
}

.quote-block ul li a, .training-block ul li a, .corp-block ul li a {
    font-family: Open Sans, sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.quote-block ul li a:before, .training-block ul li a:before, .corp-block ul li a:before {
    font-family: 'FontAwesome';
    content: "\f105";
    font-weight: normal;
    font-style: normal;
    position: absolute;
    margin-left: -15px;
    color: #ffffff;
}

.heading2 {
    background: none;
    margin-bottom: 45px;
}

.heading2 h2 {
    letter-spacing: 1px;
    font-family: Lato;
    text-align: center;
    font-size: 46px;
    font-weight: 600;
    word-spacing: 5px;
    color: #00a6d5;
    text-transform: uppercase;
}

.heading2 > span:before {
    background: none;
}

.heading2 > span {
    color: #000000;
    font-size: 17px;
    padding: 0px;
}

.blackish:before {
    background: none;
}

.btn-success {
    background-color: #76bf4c;
    border-color: #76bf4c;
    border-radius: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0px;
    font-family: Open Sans, sans-serif;
}