body.login-screen {
    background: #000000;
}

.login-box {
    background: #00a6d5;
    color: #ffffff;
}

.login-content h3 {
    color: #ffffff;
}

.login-box .login-user-icon {
    background: url(/dealer/admin_assets/uploader_assets/img/login-service-icon.png);
    border: none !important;
    width: 160px !important;
    height: 160px !important;
}

.login-box .login-form input, .login-box .forgot-pass-box input {
    background: #ffffff;
    border: 1px solid #294e6e;
}

.login-box .login-form .input-group-addon, .login-box .forgot-pass-box .input-group-addon {
    background: #294e6e;
    color: #fff;
    border-color: #294e6e;
}

.login-box .login-form .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    background: #294e6e;
    color: #ffffff;
}

.login-box .login-form .bootstrap-switch {
    border-color: #ffffff;
}

.login-box .login-form .bootstrap-switch-label {
    background: #ffffff;
}

.ls-dark-btn {
    background-color: #294e6e;
    color: #fff;
}

.login-box .login-form .login-btn-box a, .login-box .forgot-pass-box .login-btn-box a {
    color: #fff;
}